# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/

# Django
*.sqlite3
*.log
*.pot
*.pyc
*.mo
media/
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Environment variables
.env
